.fondoTable{
  background-color: #0099ef;
}

::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

::-webkit-scrollbar-track {
  background: #24292E; /* Color de fondo del track (fondo detrás del scroll) */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb (la parte arrastrable del scroll) */
}

td  {
  border-color: gray;
}

th{
  border-color: gray;
}

.borderTable{
  border: solid 1px #0099ef;
  border-radius: 4px;
  box-shadow: 20px 20px 10px 0px rgba(0,0,0,0.75);
}

.tamañoTitulos{
  font-size: 12px;
}

.bajarTexto{
  margin-top: 20px;
}

.botonesActa{
  background-color: #0099ef;
}

.botonesActa:hover{
  background-color: #1B74A7;
}



::ng-deep .ng-dropdown-panel {
  background-color: #24292E;
  padding: 5px;
  border-radius: 10px;
  margin-left: -12px;
  border: solid black 1px;
  margin-top: 6px;
  color: white!important;
  border: solid gray 1px;
}

/* Cambia el color del texto dentro del panel desplegable (opcional) */
::ng-deep .ng-dropdown-panel .ng-option {
  color: white!important;
}

